@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("../background/background.jpg");
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  color: rgb(226, 226, 226);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(#1e07a0, #17213c);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  box-shadow: 0px 0px 30px rgb(108 170 187 / 87%);
  background: #4954afb5;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 45px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  place-items: start;
}
.github-link a {
  color: white !important;
}
.github-link a:visited {
  color: white !important;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 320px) {
  .card {
    width: 100vw;
  }
  #app {
    margin: 0;
    padding: 0;
  }
}

